/ML-Algotrading-Project-main (5)/ML-Algotrading-Project-main/dataset/data/
/my_own_platform/ML-Algotrading-Project-main/my_own_platform/main_dataset/
/my_own_platform/ML-Algotrading-Project-main/my_own_platform/stage_one_data/
my_own_platform/dataset/stage_one_data
/my_own_platform
/my_own_platform/main_dataset/dataset.parquet
Miniconda3-latest-Linux-x86_64.sh
/home/amir/RL/RL_platform/my_own_platform/run.py